<div class="container">
    <main>
        <div class="py-5 text-center">
            <h1 class="fs-1 fw-bold fw-kau">Formulario de compra</h1>
        </div>
        <div class="row g-5">
            <div class="col-md-5 col-lg-4 order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary fw-josefin fs-5">Tus productos</span>
                    <span class="badge bg-primary rounded-pill">1</span>
                </h4>
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h4 class="my-0 fw-light">{{libro.nombre}}</h4>
                            <small class="text-muted">{{libro.autor}}</small>
                        </div>
                        <span class="text-muted">S/{{libro.costo}}</span>
                    </li>

                    <li class="list-group-item d-flex justify-content-between bg-light">
                        <div class="text-success">
                            <h6 class="my-0">Codigo de promocion</h6>
                            <small>StilReniun</small>
                        </div>
                        <span class="text-success">−S/0</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between fw-josefin fs-">
                        <span class="fw-josefin">Total (USD)</span>
                        <strong>S/{{libro.costo}}</strong>
                    </li>
                </ul>
            </div>


            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3">Datos de usuarios</h4>
                <form class="needs-validation" novalidate>
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="firstName" class="form-label">Nombre</label>
                            <input type="text" class="form-control" placeholder=" {{user.nombuser}}" disabled>
                        </div>

                        <div class="col-sm-6">
                            <label for="lastName" class="form-label">Apellidos</label>
                            <input type="text" class="form-control" placeholder="{{user.apelliuser}}" disabled>
                        </div>

                        <div class="col-12">
                            <label for="email" class="form-label">Email <span
                                    class="text-muted">(Requerido)</span></label>
                            <input type="email" class="form-control" placeholder="{{user.emailuser}}" disabled>
                        </div>
                    </div>


                    <hr class="my-4">

                    <h4 class="mb-3">Pagos</h4>

                    <div class="my-3">
                        <div class="form-check">
                            <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked
                                required>
                            <label class="form-check-label" for="credit">Tarjeta de credito</label>
                        </div>
                        <div class="form-check">
                            <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required>
                            <label class="form-check-label" for="debit">Tarjeta de pago</label>
                        </div>
                        <div class="form-check">
                            <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required>
                            <label class="form-check-label" for="paypal">PayPal</label>
                        </div>
                    </div>

                    <div class="row gy-3">
                        <div class="col-md-6">
                            <label for="cc-name" class="form-label">Nombre de la tarjeta</label>
                            <input type="text" class="form-control" id="cc-name" placeholder="" required>
                            <small class="text-muted">Nombre completo como se muestra en la tarjeta.</small>
                        </div>

                        <div class="col-md-6">
                            <label for="cc-number" class="form-label">Numero de la tarjeta</label>
                            <input type="text" class="form-control" id="cc-number" placeholder="" required>
                            <div class="invalid-feedback">
                                Credit card number is required
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label for="cc-expiration" class="form-label">Expiracion</label>
                            <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                        </div>

                        <div class="col-md-3">
                            <label for="cc-cvv" class="form-label">CVV</label>
                            <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                        </div>
                    </div>

                    <hr class="my-4">

                    <button type="submit" mat-fab extended color="secondary" class="w-100 fw-viaoda mb-2">
                        Comprar
                    </button>

                    <button type="button" mat-fab extended color="warn" class="w-100">
                        Cancelar compra
                    </button>
                </form>
                <br>
            </div>
        </div>
    </main>


</div>